
nav { /* NAVIGATION STARTS */
    background-color: black;
    color: white;
    width: 100%;
    height: 4rem;
}
nav h1 {
    font-size: xx-large;
}
nav ul {
    color: white;
    display: inline-block;
}
nav li {
    display: inline-block;
}
nav a {
    color: white;
}
#links {
    display: inline-block;
    text-align: center;
    width: 100%;
}
#navCenter {
    font-size: x-large;
}
#navCenter a{
    padding:0 20px;
}
#socialIcons{
    float: right;
}
#socialIcons img {
    padding-right: 15px;
} 
#hamburgerMenu {
    display: none; 
}
/* NAVIGATION ENDS */

/* NAVIGATION MAIN IMAGE STARTS */

#headerMain {
    color: black;
    height: 900px;
    background-image: url(../img/steven-lelham-atSaEOeE8Nk-unsplash.jpg);
    background-size: cover;
    background-position: center;
    font-weight: 800;
}

#headerMain h1 {
   font-size: 5rem;
   padding: 10% 0 3% 5%;
}
#headerMain h2 {
    font-size: 2rem;
    margin: 0 0 0 10%;
}
#headerMain button {
    font-size: 3rem;  
    border-radius: 70%; 
    padding: 2rem 2rem 2rem 2rem;
    background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
    border: none;
    cursor:pointer;
    outline: 0;
    font-weight: 800;
}
#buttonContainer {
    width: 40%;
    padding: 3%;
    margin-left: 15%;
}
/* NAVIGATION MAIN IMAGE ENDS */

/* WHAT WE DO / WHO WE ARE / WHY JOIN STARTS */
#bodyText {
    padding: 3% 0 ;
    display: inline-flex;
    justify-content: space-evenly;
    text-align: center;
}
#bodyText h1 {
    font-size: x-large;
    font-weight: 800;
}
#weAre, #weDo, #whyJoin {
    max-width: 30%;
}
#bodyText img {
    max-width:100%;
}

/* WHAT WE DO / WHO WE ARE / WHY JOIN ENDS */


/* OUR SPONSOR STARTS */
#ourSponsor h1 {
    text-align: center;
    font-size: 5rem;
    font-weight: 800;
}
#sponsorImg {
    text-align: center;
    height: 60rem;
    background-image: url(../img/marcel-strauss-wMhOrFkeRQA-unsplash.jpg);
    background-size: cover;
    max-width: 100%;
}
#sponsorImg p {
    padding-top: 20%;
    font-size: 2rem;
    margin: 0 20px;
    font-weight: 700;
}
#sponsorImg button {
    font-size: 1.3rem;
    border-radius: 70%;
    margin-top: 2rem;
    padding: 1.2rem;
    background-image: linear-gradient(to right, #eea2a2 0%, #bbc1bf 19%, #57c6e1 42%, #b49fda 79%, #7ac5d8 100%);
    border: none;
    cursor:pointer;
    outline: 0;
}
/* OUR SPONSOR ENDS */

/* FOOTER BLOCK STARTS */
aside {
    height:3rem;
    background-color: black;
}
aside p {
    color: white;
    padding-top: 1rem;
}

/* MEDIA */ 
@media screen and (min-width:2200px){ /* !!!! Large Monitors !!! */
    /*nav starts*/
    nav { 
        height: 6rem;
    }
    #navCenter {
        font-size: 2rem;
    }
    nav h1 {
        font-size: 3.2rem;
    } 
    /*nav ends*/

    /* NAVIGATION MAIN IMAGE STARTS */
    #bodyText h1 {
        font-size: 3.2rem;
    }

    #bodyText h2  {
        font-size: 1.5rem;
    }
    #buttonContainer {
        width: 40%;
        padding: 3%;
        margin-left: 13%;
    }
    /* NAVIGATION MAIN IMAGE ENDS */

    /* OUR SPONSOR STARTS */
    #sponsorImg p {
        font-size: 3rem;
    }
    #sponsorImg button {
        font-size: 2rem;
        border-radius: 70%;
        margin-top: 2rem;
        padding: 2.2rem;
    }
    /* OUR SPONSOR ENDS */
    
}

@media screen and (max-width:1440px){ /* !!! LAPTOPS !!! */
    /* NAVIGATION MAIN IMAGE STARTS */
    #headerMain {
        color: white;
    }
    #headerMain h1 {
        font-size: 5rem;
        padding: 20% 0 3% 5%;
     }
    #buttonContainer {
        margin-left: 20%;
    }
    /* NAVIGATION MAIN IMAGE ENDS */

}
@media screen and (max-width:780px){  /* !!! LARGE TABLETS !!! */
    #headerMain h2 {
        display: none;
    }
    #buttonContainer {
        margin-left: 2%;
    }
    #bodyText h2 {
        margin-bottom: 10px;
    }
}
@media screen and (max-width:760px){ /* !!! SMALL TABLETS !!! */
    nav {
        height: 7.5rem;
    }
    #navCenter {
        padding-top: 10px;
    }
}
@media screen and (max-width:430px) { /* !!! LARGE MOBILE !!! */
    #navCenter, #socialIcons {
        display: none;
    }
    nav {
        height: 4rem;
    }
    nav h1 {
        padding-top: 4%;
        padding-left: 10px;
    }
    #hamburgerMenu {  /* !!! HAMBURGER MENU !!! */
        background-color: black;
        display:inline-flex;
        background-image: url(../img/iconfinder_shopping_red_outline_menu_3524359.png);
        float: right;
        margin-top: -65px;
        margin-right: 5%;
        height: 50px;
        width: 50px;
        border: 0;
        outline: none;
    }
    #headerMain {
        text-align: center;
    }
    #headerMain h1 {
        font-size: 4rem;
    }
    #headerMain button {
        margin-top: 400px;
        margin-left: 55%;
        border-radius: 20%;
    }
    #bodyText { /* WHO WE ARE / WHAT WE DO / WHY JOIN US */
        display: block;
    }
    #weAre, #weDo, #whyJoin {
        max-width: 100%;
        font-size: large;
    }

    #ourSponsor button { /* SPONSOR BUTTON */
        font-size: 2.5rem;
        border-radius: 30%;
        margin-top: 10rem;
        padding: 2.2rem;
    }

}
@media screen and (max-width:380px){ /* !!! MEDIUM MOBILE !!! */
    #headerMain h1 {
        padding-left: 5px;
    }
    #weAre h2, #weDo h2 , #whyJoin h2 {
        padding: 0 5px;
    }
}
@media screen and (max-width:350px) { /* !!! SMALL MOBILE !!! */
    nav h1 {
        font-size: 1.5rem;
        padding-top: 1.2rem;
    }
    #hamburgerMenu { 
        margin-top: -60px;
        margin-right: 5%;

    }
    #headerMain button {
        margin-left: 40%;
    }
}