
nav { /* NAVIGATION STARTS */
    background-color: black;
    color: white;
    width: 100%;
    height: 4rem;
}
nav h1 {
    font-size: xx-large;
}
nav ul {
    color: white;
    display: inline-block;
}
nav li {
    display: inline-block;
}
nav a {
    color: white;
}
#links {
    display: inline-block;
    text-align: center;
    width: 100%;
}
#navCenter {
    font-size: x-large;
}
#navCenter a{
    padding:0 20px;
}
#socialIcons{
    float: right;
}
#socialIcons img {
    padding-right: 15px;
} /* NAVIGATION ENDS */

/* NAVIGATION MAIN IMAGE STARTS */

#headerMain {
    color: black;
    height: 900px;
    background-image: url(../img/steven-lelham-atSaEOeE8Nk-unsplash.jpg);
    background-size: cover;
    background-position: center;
    font-weight: 800;
}

#headerMain h1 {
   font-size: 5rem;
   padding: 10% 0 3% 5%;
}
#headerMain h2 {
    font-size: 2rem;
    margin: 0 0 0 10%;
}
#headerMain button {
    font-size: 3rem;  
    border-radius: 70%; 
    padding: 2rem 2rem 2rem 2rem;
    background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
    border: none;
    cursor:pointer;
    outline: 0;
    font-weight: 800;
}
#buttonContainer {
    width: 40%;
    padding: 3%;
    margin-left: 15%;
}
#bodyText {
    padding: 3% 0 ;
    display: inline-flex;
    justify-content: space-evenly;
    text-align: center;
}
#bodyText h1 {
    font-size: x-large;
    font-weight: 800;
}
#weAre, #weDo, #whyJoin {
    max-width: 30%;
}
#bodyText img {
    max-width:100%;
}

#ourSponsor h1 {
    text-align: center;
    font-size: 5rem;
    font-weight: 800;
}
#sponsorImg {
    text-align: center;
    height: 60rem;
    background-image: url(../img/marcel-strauss-wMhOrFkeRQA-unsplash.jpg);
    background-size: cover;
    max-width: 100%;
}
#sponsorImg p {
    padding-top: 20%;
    font-size: 2rem;
    margin: 0 20px;
    font-weight: 700;
}
#sponsorImg button {
    font-size: 1.3rem;
    border-radius: 70%;
    margin-top: 2rem;
    padding: 1.2rem;
    background-image: linear-gradient(to right, #eea2a2 0%, #bbc1bf 19%, #57c6e1 42%, #b49fda 79%, #7ac5d8 100%);
    border: none;
    cursor:pointer;
    outline: 0;
}
aside {
    height:3rem;
    background-color: black;
}
aside p {
    color: white;
    padding-top: 1rem;
}
test {
    
}
